<%- include('layouts/header') %>
    <h2><%= course.title %></h2>
    <a class="btn btn-secondary" href="/">View all</a>
    <a class="btn btn-success" href="/edit">Edit</a>
    <p class="text-muted"><%= course.date.toLocaleDateString() %></p>
    <p><%= course.description %></p>
<%- include('layouts/footer') %>
